* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family:'Courier New', Courier, monospace;
    background-color: #ffdce4;
    color: #58273a;
}

header {
    background-color: #c26782;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffe5ed;
}

header h1 {
    font-size: 36px;
    letter-spacing: 3px;
}

.datetime {
    font-size: 16px;
}

.container {
    padding: 40px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 15px;
    border: 3px solid #d67290;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.box {
    background-color: #fff1f6;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 133, 169, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
}

.box img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 133, 169, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.time {
    font-size: 20px;
}

footer {
    background-color: #c26782;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #ffe5ed;
}