* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family:'Courier New', Courier, monospace;
    background-color: #ffdce4;
    color: #58273a;
}

header {
    background-color: #c26782;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffe5ed;
}

header h1 {
    font-size: 36px;
    letter-spacing: 3px;
}

.datetime {
    font-size: 16px;
}

.container {
    padding: 40px;
}

.section-title {
    font-size: 22px;
    margin: 30px 0 20px;
    padding: 8px;
    border: 2px solid #d67290;
    border-radius: 12px;
    text-align: center;
    background-color: #ffe8ef;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 50px;
    align-items: stretch;
}

.world-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.box {
    background-color: #fff1f6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 133, 169, 0.25);
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 260px;
}

.box img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(255, 133, 169, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
}

.time {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}

footer {
    background-color: #c26782;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #ffe5ed;
}